
#contract{
    width: 100px;
    height: 100px;
}
.container-contract{
    color: white;
    margin-top: 50%;
    font-size: 8pt;
    color: white;
    position: relative;
    text-align: center;
    justify-content: center;
    h1{
      display: flow-root;
      font-family: 'Dosis', sans-serif;
                color: #fff;
                /* margin-left: 20%; */
                border: 1px #fff solid;
                padding: 3%;
                text-align: left;
                border-left: 0;
                border-right: 0;
    }
    hr{
        width: 15%;
        border: none;
        height: 1px;
        
    /* Set the hr color */
        color: #333; /* old IE */
        background-color: #333; /* Modern Browsers */
    }
    h2{
        font-weight: 14pt;
        font-family: 'Open Sans', sans-serif;
    }
    
      
    form input{
        width: 80%;
        padding: 2.5%;
        margin-top: 2%;
        margin-bottom: 3%;
        backdrop-filter: blur(1px);
        border: 0;
        color: #FFFFFF;
        background-color: #2D2D2D;
        font-family: 'Open Sans', sans-serif;    
        font-size: 15px;
      }
      form select{
        width: 83%;
        padding: 2.5%;
        color: #FFFFFF;
        margin-top: 2%;
        margin-bottom: 3%;
        backdrop-filter: blur(1px);
        border: 0;
        background-color: #2D2D2D;
        font-family: 'Open Sans', sans-serif;    
        font-size: 15px;
      
      }
      option{
        color: black;
      }
      
      form textarea{
        width: 80%;
        height: 100px;
        padding: 1.5%;
        color: #FFFFFF;
        margin-top: 2%;
        margin-bottom: 3%;
        backdrop-filter: blur(1px);
        border: 0;
        background-color: #2D2D2D;
        font-family: 'Open Sans', sans-serif;    
        font-size: 15px;
      
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #FFFFFF;
        opacity: 1; /* Firefox */
      }
      form button{
        background-color: #2D2D2D ;
        color: #FFFFFF;
        
        padding: 8px;
        font-family: 'Dosis', sans-serif;
        width: 83%;
        cursor: pointer;
      }
      
      option{
        color: #FFFFFF;
      }
    }

      




@media(min-width: 1024px){
    
    .form-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 5%;
      }
    form .separate1{
        margin-left: 10%;
        
    }
    form .separate2{
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      width: 90%;
      position: inherit;
    }
    .container-contract form textarea{
        height: 230px;
    }
}

@media(max-width: 1000px){
  .container-contract{
    margin-top: 70%;
  }
}

@media(max-width: 750px){
  .container-contract{
    margin-top: 90%;
  }
}

@media(max-width: 560px){
  .container-contract{
    margin-top: 100%;
  }
}
@media(max-width: 500px){
  .container-contract{
    margin-top: 50%;
  }
}
@media(max-width: 430px){
  .container-contract{
    margin-top: 60%;
  }
}
@media(max-width: 360px){
  .container-contract{
    margin-top: 70%;
  }
}
@media(max-width: 310px){
  .container-contract{
    margin-top: 80%;
  }
}
@media(max-width: 270px){
  .container-contract{
    margin-top: 90%;
  }
}
@media(max-width: 240px){
  .container-contract{
    margin-top: 220%;
  }
}
@media(min-height: 660px){
  .container-contract{
    margin-top: 90%;
  }
}
@media(min-height: 1024px){
  .container-contract{
    margin-top: 100%;
  }
}
@media(min-height: 1130px){
  .container-contract{
    margin-top: 140%;
  }
}