.nav-bar{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: transparent;
    display: flex;
    height: 132px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    img{
        width:40%;
        height: 40%;
        margin-left: 15px;
    }
}
